<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   InflationCalc

   Created by Emmanuel Okpunor on 18/04/2023.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>AppSecret</key>
    <string>6fe69238-f138-4528-9ca6-013cd0545963</string>
  </dict>
</plist>
